<header class="masthead" role="banner">
  <div class="masthead__wrapper">
  <nav id="nav-primary" class="masthead__menu-wrapper">
      <input type="checkbox" id="button">
      <label for="button" onclick=""></label>
      <ul class="masthead__menu">
        <li>
          <a href="#home" class="masthead__menu-item">Home</a>
        </li>
        {% for link in site.data.navigation.masthead %}
          <li>
            <a href="{{ site.url }}{{ link.url }}" class="masthead__menu-item">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <h1 class="logo">
      <img src="/assets/images/logo-overlay.svg" class="logo__overlay-image">
      <div>Concert</div>
      <div>for a</div>
      <div>Sustainable</div>
      <div>Planet</div>
      <div class="date">{{ site. event_date}}</div>
    </h1>
  </div>
</header>
