.content__wrapper {
  padding: 2em 1em;
}

.block {
  max-width: $content-width;
  margin: 0 auto 6rem auto;
}

.block__header {
  font-size: $base-font-size * 1.2;
  text-transform: uppercase;
}

.block_subtitle {
  color: #01baf1;
  display: block;
}

.block__content {
  font-size: $base-font-size;
  line-height: 1.4;

}
.block__content a {
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid #00c5ff;

  &:focus,
  &:hover {
    color: #00c5ff;
    border-bottom: 3px solid #000;
  }
}

@include media-query($on-big-screen) {
  .block__header {
    //font-size: $base-font-size * 6;
  }

  .block__title {
    color: #000;
    font-size: $base-font-size * 6;
    margin: 0 auto 1rem auto;
    line-height: .9;
  }

  .block__content {
    font-size: $base-font-size * 1.3;
  }
}
