.performers {
  list-style: none;
  margin: 3em 0 0 0;
  padding: 0;

  li {
    margin: 1em 0 3em 0;
    display: block;
    clear: both;
  }
}
.performer-name {
  font-size: 140%;
  margin: 0;
  padding: 0;
}
.performer-focus {
  color: lighten($text-color, 40%);
  margin: 0;
  padding: 0;
}
.performer-photo {
  float: right;
  margin: 0 0em 1em 2em;
  max-width: 125px;
}

@include media-query($on-big-screen) {
  .performer-photo {
    max-width: 225px;
  }

}
