.performers {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 1em 0;
  }
}
.performer-name {
  font-size: 140%;
  margin: 0;
  padding: 0;
}
.performer-focus {
  margin: 0;
  padding: 0;
}
