html, body {
  margin: 0;
  padding: 0;

  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h2 {
  text-transform: uppercase;
}

.site-header {
  background-attachment:
    scroll,
    fixed,
    fixed,
    fixed;
  background-image:
    url('/assets/images/bg_overlay_fff.png'),
    url('/assets/images/bg_planet_vertical.png'),
    url('/assets/images/bg_stars.png'),
    radial-gradient(farthest-corner at 0 0 , #194657 0%, #16485d 40%, #000 100%);
  background-position:
    bottom center,
    bottom center,
    center center,
    center center;
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  background-size:
    cover,
    contain,
    cover,
    cover;
  position: relative;
  height: 100%;
  height: 100vh;
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-header-meta {
  max-width: 60%;
}

.site-header h1 {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding: 0 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.site-header img {
  max-width: 100%;
}

.site-footer {
  display: none;
}

.page-content {
  display: flex;
  margin: 0 auto;
  width: 100%;

  .wrapper {
      flex: 1;
  }

}

.page-section {
  border-top: 2px solid #ccc;
  margin: 2em 0;
  padding: 0;
  position: relative;
  width: 80%;
  margin: 0 auto;

  &:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top: .5em;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 2px solid #ccc
  }

}

.page-section-header {

  position: relative;
  margin: 0 auto;
  width: 80%;

  h2 {
    font-size: 400%;
    margin: 0;
    color: 000;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

  }

}

.page-section-content {
  width: 60%;
  margin: 0 auto;
}
