.masthead {
  background-attachment:
    scroll,
    fixed,
    fixed;
  background-image:
    url('/assets/images/bg_overlay_fff.png'),
    url('/assets/images/bg_stars.png'),
    radial-gradient(farthest-corner at 0 0 , #194657 0%, #16485d 40%, #000 100%);
  background-position:
    bottom center,
    center center,
    center center;
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
  background-size:
    cover,
    140%,
    contain,
    cover;
  text-align: center;
}
.masthead__wrapper {
  margin: auto;
  max-width: $masthead-width;
  text-align: center;
}

.masthead__menu-wrapper {
  background: rgba(25,70,87,1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 17;

  @include media-query($on-big-screen){
    position: fixed;
  }
}

.masthead__menu-wrapper input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.masthead__menu-wrapper input[type=checkbox]:checked ~ .masthead__menu {
  display: block;
}

.masthead__menu-wrapper label {
  cursor: pointer;
  display: block;
  min-height: 2.5em;

  &:after {
    background-image: url('/assets/images/menu-icon.png');
    content: '';
    position: absolute;
    right: .6em;
    top: .4em;
    font-size: 1.8em;
    width: 23px;
    height: 17px;
  }
}

.masthead__menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;

    @include media-query($on-big-screen){
      display: inline-block;
    }
  }
}
.masthead__menu-item {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  display: block;
  transition: color .3s;

  &:focus,
  &:hover {
    color: #00c5ff;
  }
}

.active {
  color: #00c5ff;
}

.logo {
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  margin: 2em auto 3em auto;
  font-weight: 700;
  letter-spacing: .05em;
  text-align: left;
  display: inline-block;
  position: relative;
}
.logo div {
  line-height: 0.9;
}
.logo .date {
  font-size: .2em;
  font-weight: 200;
  margin-left: .333em;
}

.logo__overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
}

@include media-query($on-big-screen) {

  .masthead__menu-wrapper label {
    display: none;
  }

  .masthead__menu {
    display: block;
  }

  .logo {
    font-size: 6em;
  }


}
